body{
 background-image: url("https://wallpaperaccess.com/full/2513478.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Pixelify Sans", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}
h1{
color: white;
}
h2{
font-size: 17px;
color: white;
}
#ttl{
transition: color 1s;
color: white;
font-size: 120px;
}
#ttl:hover {
  color: lime;
}
h1:hover {
  color: lightblue;
}
#enmymvmnt {
  margin-top: 50px;
  width: 100px;
  height: 75px;
  position: absolute;
  display: none;
}
#enmymvmnt img{
  width: 100px;
  height: 75px;
  margin-top: 0px;
}
#enmymvmntB {
  margin-top: 50px;
  width: 100px;
  height: 75px;
  position: absolute;
  display: none;
}
#enmymvmntB img{
  width: 100px;
  height: 75px;
  margin-top: 0px;
}
#enmymvmntC {
  margin-top: 50px;
  width: 100px;
  height: 75px;
  position: absolute;
  display: none;
}
#enmymvmntC img{
  width: 100px;
  height: 75px;
  margin-top: 0px;
}
#enmymvmntD {
  margin-top: 50px;
  width: 100px;
  height: 75px;
  position: absolute;
  display: none;
}
#enmymvmntD img{
  width: 100px;
  height: 75px;
  margin-top: 0px;
}
#enmymvmnt2 {
  margin-top: 200px;
  width: 100px;
  height: 75px;
  position: absolute;
  display: none;
}
#enmymvmnt2 img{
  width: 100px;
  height: 75px;
  margin-top: 0px;
}
#enmymvmnt2B {
  margin-top: 200px;
  width: 100px;
  height: 75px;
  position: absolute;
  display: none;
}
#enmymvmnt2B img{
  width: 100px;
  height: 75px;
  margin-top: 0px;
}
#enmymvmnt2C {
  margin-top: 200px;
  width: 100px;
  height: 75px;
  position: absolute;
  display: none;
}
#enmymvmnt2C img{
  width: 100px;
  height: 75px;
  margin-top: 0px;
}
#enmymvmnt3 {
  margin-top: 350px;
  width: 100px;
  height: 75px;
  position: absolute;
  display: none;
}
#enmymvmnt3 img{
  width: 100px;
  height: 75px;
  margin-top: 0px;
}
#enmymvmnt3B {
  margin-top: 350px;
  width: 100px;
  height: 75px;
  position: absolute;
  display: none;
}
#enmymvmnt3B img{
  width: 100px;
  height: 75px;
  margin-top: 0px;
}
#enmymvmnt3C {
  margin-top: 350px;
  width: 100px;
  height: 75px;
  position: absolute;
  display: none;
}
#enmymvmnt3C img{
  width: 100px;
  height: 75px;
  margin-top: 0px;
}
#usrmvmnt{
  margin-top: 0px;
  width: 1600px;
  height: 590px;
  position: absolute;
  display: none;
}
#usrmvmnt img{
  width: 100px;
  height: 85px;
  margin-top: 590px;
  margin-left: 750px;
}
#mysht{
  margin-top: 0px;
  width: 3px;
  height: 50px;
  position: absolute;
  background-color: white;
  display: none;
}
#scrbrd{
  margin-left: 10px;
  margin-top: -20px;
  display: none;
  position: absolute;
}
#atdp{
  color: white;
  width: 800px;
  height: 810px;
  padding: 50px;
  display: none;
  border: 2px solid white;
  border-radius: 5px;
  background: rgba(255,255,255, 0.2)
}
.atdph:hover{
  transition: color 0.5s;
  color: lightblue;
}
#rtrn{
  padding: 5px;
  padding-top: 8px;
  padding-left: 8px;
  width: 60px;
  height: 20px;
  border: 2px solid white;
  background-color: white;
  color: black;
  border-radius: 5px;
  transition: color 1s, background-color 1s, border 1s;
 
}
#rtrn{
  padding: 5px;
  padding-top: 8px;
  padding-left: 8px;
  width: 60px;
  height: 20px;
  border: 2px solid white;
  background-color: white;
  color: black;
  border-radius: 5px;
  transition: color 1s, background-color 1s, border 1s;
 
}
#rtrn:hover{
  border: 2px solid black;
  background-color: black;
  color: white;
}
#rtrn2{
  padding: 5px;
  padding-top: 8px;
  padding-left: 8px;
  width: 60px;
  height: 20px;
  border: 2px solid white;
  background-color: white;
  color: black;
  border-radius: 5px;
  transition: color 1s, background-color 1s, border 1s;
}
#rtrn2:hover{
  border: 2px solid black;
  background-color: black;
  color: white;
}
#tmsp{
  display: none;
}
#tmr{
  display: block;
}
#tmrtxt{
  display: block;
}